@keyframes sliding{
    from{transform: translateX(-150px);}
    to{transform: translateX(0px);}
}

@keyframes slidingR{
    from{transform: translate(0,0);}
    to{transform: translateX(-100,0);}
}

@keyframes movingText{
    from{transform: translateX(0);}
    to{transform: translateX(-250%);}
}

*{
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Oswald", sans-serif;
    
    
}
body{   background-color: #1a1c1f;                
}
#background{

    background-color: #1a1c1f;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    position: fixed;
    
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    padding: 20px;
    height: 64px;
    width: 100%;
    font-size: 15px;
    background-color: #222629;
    position: relative;
    z-index: 3;
    
    
          
}

#navbar-list{
    display: none;
    text-align: center;
    color:aliceblue;
    position:relative;
    
}


#mobile-navbar-list{
    display: none;
    color:aliceblue;
    background-color: rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(10px);
    position:absolute;
    width: 100%;
    text-align: center;
    z-index:2;

    overflow: hidden;
    transition: all 0.5 ease-in;
    
}






.m-list{
    margin: 10px;
    color:aliceblue;
}
.m-list:hover{
    color:#6B6370;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    background-color: #86C232;
    margin-left: 0px;
    margin-right: 0px;
}


#bottom-contents{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
   
}

#profile-img{
    margin-top: 30px;
    width: 40%;
    border-radius: 100px;
    margin-bottom: 30px;
    position: relative;
    
}

#profile-about{
    margin-top: 30px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}

#menu-bar{
    width:20px;
    margin-right: 20px;
    cursor: pointer;
    display: block;
}

#x-bar{
    display: none;
    width:18px;
    margin-right: 20px;
    cursor:pointer;
}

.white-text{
    color:white;
    font-size: 20px;
}
.green-text{
    color: #86C232;
    font-size: 30px;
}

#home{
    color:aliceblue;
    font-family:"Bebas Neue", sans-serif;
}
#home:hover{
    cursor: pointer;
    color: #86C232;
}
.button {
    margin-top: 10px;
    background-color: #6B6370;
    border: 1px solid #86C232;
    border-radius: 50px;
    width: 200px;
    height: 30px;
    color:#86C232;

}

#contact-button:hover{
    
    background-color: #86C232;
    color:#474B4F;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

#download:hover{
    background-color: #86C232;
    color:#474B4F;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

#button-layout{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#social-media{
    display: flex;

}
.social-logo{
    width:30px;
    margin: 20px;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}
#name{
    font-family:"Bebas Neue", sans-serif;   
}

.social-logo:hover{
    transform: translateY(-5px);

}

a{text-decoration: none;}

.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;;
    font-size: 20px;
    position: relative;

}

#contact-container{
    position: relative;
}

.box{
    
    padding: 20px;
    border-radius: 10px;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    margin-bottom: 10px;
}

.box:hover{
    transform: translateY(-10px);
  
    cursor:help;
    border: 1px solid 	#bffc4e;
    color:#222629;
    box-shadow: 0px 0px 93px -8px rgba(134,194,50,1);
    background-color:#86C232;
    font-weight: 400;

}
.header{
    color:aliceblue;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 10px; 
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
}
.p-text{
    color:aliceblue;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal; 
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
}
.box-container{
    margin-top: 20px;
    position: relative;

}

#graphic-style{
    width:100%;
    border-radius: 10px;
}

.logo-size{
    width: 10%;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    margin: 10px;
}

.logo-size:hover{
    cursor: pointer;
    transform: translateY(-5px);
}


.logo-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: #474B4F;
    border-radius: 10px;
    position: relative;
    margin-bottom: 10%;

    
}
#logos{
    display: flex;
    flex-direction: column;
    height:200px;
    position: relative;
}

.about-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-web-size{
    align-items: center;
    display: flex;
    flex-direction: column;
}
#interest-container{
    text-align: center;
    width: 100%;
}

#interest-button{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    margin-bottom: 10%;
    width: 100%;
    

}
.moving-text-container{
    border: 1px solid 	#bffc4e;
    height: 35px;
    width:200px;
    border-radius: 20px;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: column;

}
.web-development{
    
    width:200px;
}
.ui-ux{
    width:150px;
}
.software-dev{
    width: 240px;
}
.graphic-design{
    width:180px;
}
.robotics{
    width:125px;
}

.text{
    color: #86C232;
    animation-name: movingText;
    white-space: nowrap;
    display: flex;
    position: relative;
}
.text p{
    margin-right: 10px;
}
.hidden{
    display: none;
}
.visible{
    margin-left: 25px;
    
}

#interest-button{
    display: flex;
}

.text:hover{
    cursor: pointer;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    .hidden{display: inline-block;}
}
.contact-orientation{
    display:flex;
    color: aliceblue;
    align-items: center;
    margin: 20px;
}
#contact-container{
    margin: 10%;
    position: relative;
}
.fa-solid, .fa-regular{
    margin-right: 30px;
    color:#86C232;
    font-size: 30px;
}
.fa-brands{
    margin-right: 20px;
    font-size: 25px;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;

}

.fa-brands:hover{
    cursor: pointer;
    color:#86C232;
    transform: translateY(-5px);
}

#project-container{
  
    position: relative;
    margin:10%;
}

.project-image{
    position: relative;
    width:100%;
}

.project-image-size2{
    width:80%;
    margin-top: 10%;
    
}
.project-text{
    
    margin-top: 0;
    margin: 10%;
    position: relative;
    
}


.new-content-container{
    width: 100%;
    position:absolute;
    top: 0;
    z-index: 1;
    display: flex;
    
}
#new-content{
    background-color: rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(30px);
    position: relative;
    text-align: center;
    display: none; 
    margin-bottom: 10%;
}
.fa-circle-info{
    position: absolute;
    color:#86C232;
    display: none;
}

.fa-circle-info{
    cursor: pointer;
}
#inf{
    display: none;
}
.project-detail{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

 .project-detail:hover{
    transition: all 4s ease-in 0s;  
    .project-image{
        opacity: 50%;
    }
    #inf{
        display:block;
    }  
    
}



.sub-heading{
    text-align: start;
    margin-left: 10%;
    font-family: "Bebas-Nueue", sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    color:aliceblue;
    
}

.project-text{
    margin-top: 0;
    color:aliceblue;    
    
    
}
.project-header{
    color:aliceblue;
    margin-right: 8%;
    margin-left:  8%;
    font-size: 20px;
    color:aliceblue;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.project-header:hover{
    cursor: pointer;
    color: #86C232;
}
.fa-x{
    position: absolute;
    right:0;
    margin-right: 2%;
    margin-top: 2%;
    color: aliceblue;
    font-size: 20px;
}
.fa-x{
    cursor: pointer;
    color:#86C232;
}

#p-detail{
    margin-bottom: 5%;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    color: aliceblue;
}

/* For scrolling animation */
.left-content{
    opacity: 0;
    filter:blur(2px);
    transform: translateX(-100%);
    transition: all ease 1s;


}
.showLeft{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}

.right-content{
    opacity: 0;
    filter:blur(2px);
    transform: translateX(100%);
    transition: all ease 1s;


}
.showRight{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}

.up-animation{
    opacity: 0;
    filter:blur(2px);
    transform: translateY(100%);
    transition: all ease 1s;

}
.showUp{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);

}


/* End of scrolling animation*/








@media (min-width:700px){
    body{ background-image: url("images/bg.png");
        background-size:cover;
        background-position:center;
        background-attachment: fixed;
        width: 100vw;
        height: 100vh;
        position: relative;
        
        
         
}

#background{
    /*background-image: url("images/otherBG.png");*/
    background-color: #1a1c1f;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    position: fixed;
    color: white;
    

}

   
       
#bottom-contents{
    display:flex;
    flex-direction: COLUMN;
    justify-content: center;
    right: 10%;
    top: 5%;
    position: absolute;
}
    #navbar-list{
        display: flex;
        color:white;
        margin-right: 30px;   
       
    }
    #profile-img{
        display: none;
    }

    a{text-decoration: none;}
    

    #home{
        font-family: "Bebas Neue", sans-serif;
        margin-left:30px;
        font-size: 25px;
        font-style: normal;
    }
    #name{
        font-family: "Bebas Neue", sans-serif;
        font-style: normal;
        animation: sliding 0.8s ease-out 1 normal;
        

    }

    .animation{
        animation: slidingR 0.8s ease-out 1 normal;   
    }
    
    
    #main-menu{
        display:none;
    }


    .list{
        margin-left: 40px;
        font-size: 18px;
        margin:10px;
        color: white;
       
    }

    .white-text{
        color:white;
        font-size: 40px;
        
    }
    .green-text{
        color: #86C232;
        font-size: 70px;
        font-style: italic;
    }

  
    .button {
        
        margin: 40px;
        background-color: #6B6370;
        border-radius: 50px;
        border: 1px solid #86C232;
        width: 200px;
        height: 50px;
        color:#86C232;
        font-size: 25px;
    }
  
    #button-layout{
        display: inline;    
    }

    .list:hover{
        color:#86C232;
        cursor: pointer;
        transition: all 0.3s ease 0s;

    }
    #home:hover{
        color:#86C232;
        cursor: pointer; 
        transition: all 0.3s ease 0s;
    }
    #contact-button:hover{
    
        background-color: #86C232;
        color:#474B4F;
        cursor: pointer;
        transition: all 0.3s ease 0s;

    }
    #download:hover{
        background-color: #86C232;
        color:#474B4F;
        cursor: pointer;
        transition: all 0.3s ease 0s;

    }
    .social-logo{
        width:30px;
        margin: 20px;
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease;
    }


    .social-logo:hover{
        transform: translateY(-10px);
    
    }

    .about-me{
        display: flex;
        flex-direction: column;
        font-size: 20px;
        margin: 20%;
        margin-top: 0;
    }

    .window-container{
        display: flex;
        flex-direction: row;
    }
   #profile-about{
    margin-top: 23%;
    width: 400px;
   }
   .p-text{
    font-family: "Roboto", sans-serif;
    font-style: normal; 
    font-size: 25px;
    font-weight: 400px;
}
    .box-web-size{
        flex-basis: 250%;
        margin-top: 10%;
        margin-left: 50px;
    }
    .header{
        font-size: 50px;
        margin-top: 0;
        margin-left: 20px;
        color: white;
    }
    .box{
        background: none;
    }

    #graphic-style{
        width: 400px;
    }
    .right-content{
    
        margin-left: 50px;
        
    }
    .window-container{
        margin-bottom: 100px;
    }
    #tools-container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .left-tools-content{
        
        
        flex-basis: 50%;
        margin-right: 50px;
    }
    #logos{
        flex-basis: 50%;
    
    }
    #graphic-design-container{
        align-items: center;

    }
    .logo-size{
        width:10%;
    }
    .second-header{
        font-size: 30px;
        margin-left: 0;
        color: aliceblue;
        text-align: left;
    }
    .box-container{
        display: flex;
    }
    #contact-container{
        display: flex;
        flex-direction: row;
        margin-left: 20%;
        margin-right: 20%;
        justify-content: center;
        align-items: center;
        
    }
    .co{
        flex-direction: row;
    }
    #contact-container h3{
        margin-right: 90px;
    }

#project-container{
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        
        
        

    }
    .sub-heading{
        font-size: 25px;
    }
    .project-header{
        font-size: 40px;
    }

    .new-content{
    margin-bottom: 20%;
    
    }

    .project{
    margin: 1%;
    


    }
    .project-detail{
    flex-basis: 30%;
    margin-right: 5%;
    }
.upper{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:5%;
    margin-bottom:5%;
    align-items: center;
    align-content: center;
}
.left{
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
}
.right{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.role { 
    text-align: center;
    margin-left: 0;
}
    
#p-detail{
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #474B4F;
    
}

#p-detail:hover{
    cursor:pointer;
    border: 1px solid 	#bffc4e;
    color:#222629;
    box-shadow: 0px 0px 93px -8px rgba(134,194,50,1);
    background-color:#86C232;
    font-weight: 400;

}
.project-title{
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    color: aliceblue;
}

}